/* Menu Container */
div#Menu ul.nav {
    margin:         0 0 .2em 0;
    padding:        0;
}

div#Menu ul.nav li {
    display:        inline-block;
    list-style:     none;
    margin:         auto;
    text-align:     center;
    vertical-align: middle;
    width:          5em;
}

div#Menu ul.nav li:hover {
    background:      #afa;
}

div#Menu ul.nav li a {
    text-decoration: none;
}

div#Menu ul.nav li a:hover {
    text-decoration: underline;
}

/* BreadCrumbs */
span#BreadCrumbs {
}
