<?xml version="1.0" encoding="utf-8"?>
<config>
    <nav>
        <home>
            <label>home</label>
            <controller>index</controller>
            <action>index</action>
            <title>go to the initial page</title>
            <order>-100</order>
        </home>

        <login>
            <label>login</label>
            <controller>user</controller>
            <action>login</action>
            <title>go to login page</title>
            <order>99</order>
        </login>
        
        <contact>
            <label>contact</label>
            <controller>contact</controller>
            <action>index</action>
            <title>go to the contact page</title>
            <order>100</order>
        </contact>
    </nav>
</config>
